blinker
certifi
charset-normalizer
click
colorama
distlib
filelock
Flask
Flask-Cors
idna
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
platformdirs
requests
scikit-learn
scipy
setuptools==75.1.0
threadpoolctl==3.5.0
urllib3
virtualenv
Werkzeug
wheel
pandas
xgboost
